In [1]:
%load_ext autoreload
%autoreload 2

In [6]:
import json
from src.coordinator import Coordinator
from src.utils.preprocessing import TextPreprocessor
import pandas as pd

In [7]:
coord = Coordinator()

In [8]:
dataset = pd.DataFrame()
for file_path in coord.data_raw.iterdir():
    if file_path.name.endswith('jsonl'):
        user = file_path.stem
        user_df = pd.read_json(file_path, lines=True)
        dataset = dataset.append(user_df, ignore_index=True)
        print(user, user_df.shape[0])
print('TOTAL:', dataset.shape[0])

britneyspears 5116
arianagrande 14018
rihanna 9623
justinbieber 14000
katyperry 8880
theellenshow 14000
selenagomez 4276
cnnbrk 14000
twitter 10730
kimkardashian 14000
taylorswift13 420
ladygaga 7615
realdonaldtrump 13999
barackobama 7059
narendramodi 14000
jtimberlake 3320
shakira 5408
youtube 14000
jimmyfallon 11632
cristiano 3251
TOTAL: 189347

In [9]:
dataset.head(3)

,tweet_id,user,time_epoch,tweet,n_likes,n_retweets,n_replies,n_emojies,hashtags,mentions
0,1247643096596111362,britneyspears,1586296268,Enough said 😜🧼🧼🌸🌸🌸🌸 and thank you to all of th...,86426,25499,960,5,"[#worldhealthday, #thankshealthheroes]",[]
1,1243706495793074182,britneyspears,1585357710,Oops!…how did 20 years go by so fast 😅😅🙄 ?! I ...,122851,16256,2212,8,[],[]
2,1243668424674459648,britneyspears,1585348633,Happy Birthday @MariahCarey !! You are one of ...,61079,7634,1345,1,[],[mariahcarey]

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189347 entries, 0 to 189346
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   tweet_id    189347 non-null  int64
 1   user        189347 non-null  object
 2   time_epoch  189347 non-null  int64
 3   tweet       189347 non-null  object
 4   n_likes     189347 non-null  int64
 5   n_retweets  189347 non-null  int64
 6   n_replies   189347 non-null  int64
 7   n_emojies   189347 non-null  int64
 8   hashtags    189347 non-null  object
 9   mentions    189347 non-null  object
dtypes: int64(6), object(4)
memory usage: 14.4+ MB

## 1. Remove all links and pictures in a tweet

In [11]:
preprocessor = TextPreprocessor()

In [12]:
dataset['tweet'].apply(lambda tweet: len(preprocessor.url_rgx.findall(tweet))).value_counts()

0    110729
1     77069
2      1435
3        98
4        13
5         3
Name: tweet, dtype: int64

In [13]:
dataset['tweet'].apply(lambda tweet: len(preprocessor.pic_rgx.findall(tweet))).value_counts()

0    132941
1     56401
2         5
Name: tweet, dtype: int64

**Drop links from tweet**

In [14]:
dataset['tweet'] = dataset['tweet'].apply(lambda tweet: preprocessor.clean_links(tweet))
dataset['tweet'].apply(lambda tweet: len(preprocessor.pic_rgx.findall(tweet))).value_counts(), \
dataset['tweet'].apply(lambda tweet: len(preprocessor.url_rgx.findall(tweet))).value_counts()

(0    189347
 Name: tweet, dtype: int64,
 0    189347
 Name: tweet, dtype: int64)

## 2. Remove emojis in a tweet

In [22]:
dataset['tweet'] = dataset['tweet'].apply(lambda tweet: preprocessor.clean_emojis(tweet))
dataset['tweet'].apply(lambda tweet: len(preprocessor.emoji_rgx.findall(tweet))).value_counts()

0    117162
Name: tweet, dtype: int64

## 3. Drop tweets with less than 50 characters

**Number of tweets with less than 50 characters and more than 50 characters respectively**

In [23]:
dataset[dataset['tweet'].apply(lambda tweet: sum(len(token) for token in tweet.split()) < 50)].shape[0]

287

In [24]:
dataset = dataset[dataset['tweet'].apply(lambda tweet: sum(len(token) for token in tweet.split()) >= 50)]
dataset.shape[0]

116875

In [25]:
dataset.groupby('user').size()

user
arianagrande        4308
barackobama         6357
britneyspears       3159
cnnbrk             13814
cristiano           2016
jimmyfallon         8110
jtimberlake         2195
justinbieber        5084
katyperry           5585
kimkardashian       5676
ladygaga            5461
narendramodi       12636
realdonaldtrump    11616
rihanna             4890
selenagomez         2281
shakira             4387
taylorswift13        218
theellenshow       10141
twitter             1840
youtube             7101
dtype: int64

In [26]:
dataset.head(3)

,tweet_id,user,time_epoch,tweet,n_likes,n_retweets,n_replies,n_emojies,hashtags,mentions
0,1247643096596111362,britneyspears,1586296268,Enough said 🧼🧼 and thank you to all of the hea...,86426,25499,960,5,"[#worldhealthday, #thankshealthheroes]",[]
1,1243706495793074182,britneyspears,1585357710,Oops!…how did 20 years go by so fast ?! I can...,122851,16256,2212,8,[],[]
2,1243668424674459648,britneyspears,1585348633,Happy Birthday @MariahCarey !! You are one of ...,61079,7634,1345,1,[],[mariahcarey]

In [31]:
dataset.to_json(coord.data_interim / 'dataset_v1.jsonl', lines=True, orient='records')

## 4. Preprocessing demonstraion on a few examples

In [27]:
preprocessor = TextPreprocessor()

In [28]:
examples = dataset['tweet'].iloc[:10].values
examples

array(['Enough said\xa0🧼🧼\xa0and thank you to all of the healthcare workers tirelessly working to keep us safe during this time !!!! #WorldHealthDay #ThanksHealthHeroes',
       'Oops!…how did 20 years go by so fast\xa0\xa0?! I can’t believe it. I remember that red suit was so freaking hot … but the dance was fun\xa0\xa0and it made the shoot fly by !!! You have all shown so much support for this song & I thank you for it … sending love to you all\xa0️️️\xa0!!',
       'Happy Birthday @MariahCarey !! You are one of the main reasons I started singing ... your Butterfly 🦋 album never gets old even after 20+ years … it’s simply a classic and I will be listening to it today as I work out in the gym !!! Have a wonderful birthday\xa0🦋\xa0!!! God bless.',
       'Listen to the new @y2k2y and @_AlexanderLewis remix of #Toxic, released today in celebration of the opening of @BritneyTheZone!   \xa0 @RCARecords',
       'Coming soon !!!!  I can’t wait to see all of the pics you guys take at @britneythezone .... it’s going to be so fun !!! Hope you’re having a happy Saturday so far friends ',
       'My daddy loves Mitch, @MonsterEnergy, and @NASCAR… and we both can’t wait to see this movie.\xa0\xa0Congrats to everyone involved! It opens Sept 12 ',
       'Can you believe that this album was released 20 years ago today?! I can’t. It’s been the journey of a lifetime, but I’m grateful for every moment. Getting to know you all over the years has been such an incredible experience. Thank you for all your support ️ #BabyOneMoreTime20',
       'I appreciate your prayers and support for my family during this time. Thank you, and love you all… always.',
       'I had to make the difficult decision to put my full focus and energy on my family at this time. I hope you all can understand. More information on ticket refunds is available on   \xa0.',
       'However, it’s important to always put your family first… and that’s the decision I had to make. A couple of months ago, my father was hospitalized and almost died. We’re all so grateful that he came out of it alive, but he still has a long road ahead of him.'],
      dtype=object)

In [29]:
for example in examples:
    print(example)
    print(preprocessor(example))
    print()

Enough said 🧼🧼 and thank you to all of the healthcare workers tirelessly working to keep us safe during this time !!!! #WorldHealthDay #ThanksHealthHeroes
['healthcare', 'worker', 'tirelessly', 'work', 'safe', 'time', 'worldhealthday', 'thankshealthheroes']

Oops!…how did 20 years go by so fast  ?! I can’t believe it. I remember that red suit was so freaking hot … but the dance was fun  and it made the shoot fly by !!! You have all shown so much support for this song & I thank you for it … sending love to you all ️️️ !!
['oops', 'year', 'fast', 'remember', 'red', 'suit', 'freak', 'hot', 'dance', 'fun', 'shoot', 'fly', 'support', 'song', 'send', 'love']

Happy Birthday @MariahCarey !! You are one of the main reasons I started singing ... your Butterfly 🦋 album never gets old even after 20+ years … it’s simply a classic and I will be listening to it today as I work out in the gym !!! Have a wonderful birthday 🦋 !!! God bless.
['happy', 'birthday', 'mariahcarey', 'main', 'reason', 'start', 'sing', 'butterfly', 'album', 'year', 'simply', 'classic', 'listen', 'today', 'work', 'gym', 'wonderful', 'birthday', 'god', 'bless']

Listen to the new @y2k2y and @_AlexanderLewis remix of #Toxic, released today in celebration of the opening of @BritneyTheZone!     @RCARecords
['listen', 'yky', '_alexanderlewis', 'remix', 'toxic', 'release', 'today', 'celebration', 'opening', 'britneythezone', 'rcarecords']

Coming soon !!!!  I can’t wait to see all of the pics you guys take at @britneythezone .... it’s going to be so fun !!! Hope you’re having a happy Saturday so far friends
['wait', 'pic', 'guy', 'britneythezone', 'fun', 'hope', 'happy', 'saturday', 'friend']

My daddy loves Mitch, @MonsterEnergy, and @NASCAR… and we both can’t wait to see this movie.  Congrats to everyone involved! It opens Sept 12
['daddy', 'love', 'mitch', 'monsterenergy', 'nascar', 'wait', 'movie', 'congrats', 'involve', 'open', 'sept']

Can you believe that this album was released 20 years ago today?! I can’t. It’s been the journey of a lifetime, but I’m grateful for every moment. Getting to know you all over the years has been such an incredible experience. Thank you for all your support ️ #BabyOneMoreTime20
['album', 'release', 'year', 'today', 'journey', 'lifetime', 'grateful', 'moment', 'year', 'incredible', 'experience', 'support', 'babyonemoretime']

I appreciate your prayers and support for my family during this time. Thank you, and love you all… always.
['prayer', 'support', 'family', 'time', 'love']

I had to make the difficult decision to put my full focus and energy on my family at this time. I hope you all can understand. More information on ticket refunds is available on    .
['difficult', 'decision', 'focus', 'energy', 'family', 'time', 'hope', 'understand', 'ticket', 'refund']

However, it’s important to always put your family first… and that’s the decision I had to make. A couple of months ago, my father was hospitalized and almost died. We’re all so grateful that he came out of it alive, but he still has a long road ahead of him.
['family', 'decision', 'couple', 'month', 'father', 'hospitalize', 'die', 'grateful', 'alive', 'long', 'road']